h1 {
	background-image: url(../img/naranja.jpg);
	  height: 6.5rem;
  text-align: center;
  color: white;
}
/* Sobre Mi */
/*estilos de las paginas*/

main header {
	background-color: #ae0865;;
	padding: 45px 0;
	margin-bottom: 40px;
}

main header h1 {
	font-size: 1.9rem;
	color: #fff;
	text-transform: uppercase;
}

#pages {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 80px;
}
main {
	background-color: antiquewhite;
}
aside {
	flex-basis: 30%;
}
main {
	display: block;
	margin: 10px;
}
p {
	  background-color: #46a5b4;
  height: 3.1rem;
  text-align: center;
  width: inherit;
  color: black;
}
}
h2 {
	text-align: center;
}
#pages {
	margin: 41px;
}

#pages section {
	flex-basis: 70%;
	padding-right: 1em;
	margin-bottom: 50px;
	  text-align: center;
}

aside h3 {
	background-color: #f3f1fe;
	padding: 15px 0 12px 0.5em;
	margin-bottom: 20px;
	font-size: 1.20rem;
	font-weight: 100;
}

aside ul {
	list-style: none;
	margin: 0 0 25px 0.5em;
}

aside ul li a {
	text-decoration: none;
	line-height: 1.8;
	color: #0b1245;
}

aside ul li a:hover {
	text-decoration: underline;
}

#socialMedia {
	margin: 0 0 0px 0.5em;
	font-size: 2.5rem;
}

#socialMedia svg {
	margin-right: 0.8em;
	color: #0b1245;
}

#boletin {
	margin-left: 0.5em;
}

#boletin p {
	font-size: 1rem;
	margin: 12px;
}

#boletin label {
	display: block;
	font-size: 0.95rem;
	font-weight: bold;
	margin-bottom: 12px;
}

input#correo {
	display: block;
	width: 100%;
	height: 45px;
	margin-bottom: 12px;
}

#boletin input[type="submit"] {
	background-color: #008000;
	display: inline-block;
	padding: 10px 1em;
	color: #fff;
	border: none;
	width: 150px;
	font-size: 0.95rem;
}

.row {
	clear: both;
	overflow: hidden;
	margin-bottom: 22px;
}

.row img {
	float: left;
	width: 55%;
	margin-right: 1em;
	margin-bottom: 12px;
}

form {
	margin-right: 1em;
}

.asterisco {
	color: #ff0000;
}

label {
	display: block;
	margin: 10px 0;
	font-size: 0.98rem;
}

input[type="text"], input[type="email"] {
	display: inline-block;
	width: 100%;
	height: 45px;
	margin: 5px 0;
	border: 1px solid #ccc;
}

textarea#comentario {
	width: 100%;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

input[type="submit"] {
	background-color: #008000;
	display: inline-block;
	padding: 10px 1em;
	width: 100%;
	border: none;
	color: #fff;
	font-size: 1rem;
}

